
<p id="notice"><%= notice %></p>



<img src=<%= "#{@saibamon.species.image_path}" %> alt=<%= "#{@saibamon.name}"%> class="pet pet-bordered">

<p>
  <strong>Name:</strong>
  <%= @saibamon.name %>
</p>

<p>
  <strong>Species:</strong>
  <%=link_to "#{@saibamon.species.name}", species_path(@saibamon.species)%>
</p>

<p>
  <strong>Nature:</strong>
  <%= @saibamon.nature %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @saibamon.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @saibamon.birthday %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @saibamon.user.email %>
</p>

<%= link_to 'Edit', edit_saibamon_path(@saibamon) %> |
<%= link_to 'Back', saibamons_path %>
