
<p id="notice"><%= notice %></p>

<div class="petcard">
  <div class="container">
    <div class="row">
<img src=<%= "#{@saibamon.species.image_path}" %> alt=<%= "#{@saibamon.name}"%> class="pet pet-bordered">
</div>
<div class="row">
<table>
<tr>
  <strong>Name:</strong>
  <%= @saibamon.name %>
</tr>

<tr>
  <strong>Species:</strong>
  <%=link_to "#{@saibamon.species.name}", species_path(@saibamon.species)%>
</tr>

<tr>
  <strong>Nature:</strong>
  <%= @saibamon.nature %>
</tr>

<tr>
  <strong>Gender:</strong>
  <%= @saibamon.gender %>
</tr>

<tr>
  <strong>Birthday:</strong>
  <%= @saibamon.birthday %>
</tr>

<tr>
  <strong>Owner:</strong>
  <%= @saibamon.user.email %>
</tr>
</table>
</div>
</div>
</div>
<%= link_to 'Edit', edit_saibamon_path(@saibamon) %> |
<%= link_to 'Back', saibamons_path %>
